@import '../../constants';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  height: 100%;
  font: $baseFontSize $fontFamily;
  color: $black;
  line-height: 1.143;

  margin: 0 auto;
  padding: 0;
  width: 1366px;

  overflow-y: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-content {
      flex: 1 0 auto;
    }
  }
}
