{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-empty-line-before": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["each"]}]
  }
}
