@import '../../constants';

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 29px;

  &__item {
    width: 100%;
    margin-bottom: 29px;

    position: relative;

    &_half {
      width: 49%;
    }

    &_main {
      padding-left: 40px;
    }

    &_scenarios {
      padding-right: 40px;
    }

    &-header {
      font-size: $fontSizeM;
      font-weight: 700;

      margin-bottom: 20px;

      &_devices {
        padding-left: $desktopPadding;
        display: inline-block;
        margin-right: 11px;
      }
    }
  }
}
