@import '../../constants';

.header {
  width: 100%;
  height: $headerHeightDesktop;
  padding: 0 $desktopPadding;
  border-bottom: 1px solid #f0f0f0;

  display: flex;
  align-items: center;

  background: $white;
}
