.logo {
  display: inline-block;
  width: 108px;
  height: 27px;
  position: relative;
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &__ya {
    display: block;
    position: absolute;
    z-index: 10;
    outline: 0;
    height: 100%;
    width: 69px;
    left: 0;
    top: 0;

    &-sub {
      display: block;
      position: absolute;
      z-index: 5;
      outline: 0;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
