$fontFamily: Arial, sans-serif;
$baseFontSize: 14px;

$desktopPadding: 40px;
$mobilePadding: 20px;
$headerHeightDesktop: 92px;
$headerHeightMobile: 64px;
$buttonHeight: 60px;

$fontSizeS: 12px;
$fontSizeM: 18px;
$fontSizeL: 27px;
$fontSizeXL: 36px;
$fontSizeFilter: 13px;

$black: #333;
$white: #fff;
$borderColor: #f0f0f0;
$lightGrey: #858585;
$panelColor: #f7f7f7;
$yellow: #ffd93e;
$knobColor: #fefefe;
$knobIndicatorColor: #f5a623;

$adjusterBlue: #068fff;
$adjusterYellow: #ffd800;
$adjusterOrange: #f76b1c;

$adjusterYellow2: #ffe682;
$adjusterOrange2: #ff9e00;
