@import '../../constants';

.scenarios {
  max-height: 331px;
  background: $white;

  display: flex;
  justify-content: flex-start;

  overflow-x: hidden;

  &__page {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: space-between;

    margin-right: 15px;
  }

  &__paginator {
    position: absolute;
    top: 0;
    right: 40px;
  }

  &_hide {
    display: none;
  }
}
